<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323276056333-b85v25ec4iehasu005hvq6k2t6emlumv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323276056333-b85v25ec4iehasu005hvq6k2t6emlumv</string>
	<key>API_KEY</key>
	<string>AIzaSyB4REgtZ6cY7Dt9FkWfigX3dtTB_k48IQo</string>
	<key>GCM_SENDER_ID</key>
	<string>323276056333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ir.dispose.dongi</string>
	<key>PROJECT_ID</key>
	<string>dispose-ef178</string>
	<key>STORAGE_BUCKET</key>
	<string>dispose-ef178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323276056333:ios:454aeba2ee4a2e2ca7f244</string>
</dict>
</plist>